#bgnlgn{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    max-height: 100%;
    transform: translateX(calc((100% - 100vw) / 2));
    z-index: -2;
}

#contlgn{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 10;
}

#ccbtnc{
    padding: 5%;
}

/* #indexcarousel{
    height: 20%;
    width: 100%;
    align-items: center;
    justify-content: center;

} */

#indexcardcont{
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 0;
    margin-right: 0;
    display: inline;
    flex-direction: row;
    font-family: fuente1;
    font-size: 30;
    text-align: center;
}

@font-face {
    font-family: fuente1;
    src: url(fonts/Uneasytimes_simple-Regular.ttf);
}